
@{
    ViewBag.Title = "Sobre";
}

<div class="jumbotron">
    <img src="https://raw.githubusercontent.com/renanribs/ClimaTempoSimples/master/ClimaTempoSimples/Content/foto.jpeg" class="img-circle col-sm-6" style="max-width: 10%" />
    <h3>Olá, me chamo Renan Ribeiro :)</h3>
    <h4>
       

    </h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Contato</h3>
        <p>Email: renanrbrs@gmail.com</p>
        <p>Whatsapp: (62)98326-8185</p>

    </div>
    <div class="col-md-4">
        <h3>Redes Sociais</h3>
        <br />
        <a href="https://www.linkedin.com/in/renanrbrs/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/142/142369.png" height="40" width="40"> </a>
        <a href="https://github.com/renanribs" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/38/38401.png" height="40" width="40"> </a>

    </div>
</div>
